<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="cn.edu.tsinghua.thss.tsmart.platform.PlatformApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="cn.edu.tsinghua.thss.tsmart.platform.Perspective"
            id="EdolaModelingPlatform.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="EdolaModelingPlatform.application"
            name="Edola Modeling Platform">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="cn.edu.tsinghua.thss.tsmart.editors.xml.XMLEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="bipm"
            icon="icons/alt_window_16.gif"
            id="cn.edu.tsinghua.thss.tsmart.editors.xml.XMLEditor"
            name="XML Editor">
      </editor>
      <editor
            class="cn.edu.tsinghua.thss.tsmart.modeling.bip.CompoundEditor"
            contributorClass="cn.edu.tsinghua.thss.tsmart.modeling.bip.BIPEditorActionBarContributor"
            default="false"
            icon="icons/compound_16.png"
            id="cn.edu.tsinghua.thss.tsmart.modeling.bip.CompoundEditor"
            name="Compound Editor">
      </editor>
      <editor
            class="cn.edu.tsinghua.thss.tsmart.modeling.bip.AtomicEditor"
            contributorClass="cn.edu.tsinghua.thss.tsmart.modeling.bip.BIPEditorActionBarContributor"
            default="false"
            icon="icons/atomic_16.png"
            id="cn.edu.tsinghua.thss.tsmart.modeling.bip.AtomicEditor"
            name="Atomic Editor">
      </editor>
   </extension>

</plugin>
